*{
    border: 1px solid red;
}
.navbar-brand img{
    width: 200px;
    height: 60px;
    left: 212px;
    top: 30px;
}
header{
    background-color: #f0fff0;
    margin-bottom: 50px;
}

footer{
    background-color: #282531;
}

.button-style{
    
padding: 9px 10px;
background-color: #21B573;
color: white;
border-radius: 10px;
border: none;
cursor: pointer;
font-size: 16px;

}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    padding-top: 60px;
}
#overview .card{
    background-color:  #F8FFFB;
    width: 270px;
    height: 270px;
    border: 1px solid red;
    
}

#overview .card:hover{
    background-color: white;
}


#overview img{
    border:1px solid red;
    width: 70px;
    
}

#overview{
    margin-bottom: 100px;

}

.card-footer img{
    width: 20px;
}

h6{
    color: #fd511a;
    font-size: 16px;
}

header h1{
    font-weight: bold;
    font-size: 48px;
    width: 400px;
}
header span{
    color: #21B573
}
header p{
    width: 400px;
}