.navbar-brand img{
    width: 200px;
    height: 60px;
    left: 212px;
    top: 30px;
}
header{
    background-color: #f0fff0;
    margin-bottom: 50px;
}

footer{
    background-color: #282531;
}

.button-style{
    
padding: 9px 10px;
background-color: #21B573;
color: white;
border-radius: 10px;
border: none;
cursor: pointer;

}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
#overview .card{
    background-color:  #F8FFFB;
    width: 270px;
    height: 270px;
}

#overview .card:hover{
    background-color: white;
}


#overview img{
    border:1px solid red;
    width: 70px;
}
